/* https://codepen.io/enxaneta/full/adLPwv */

.flex {
    display: flex;
    flex-direction: column; /*Con esto ajusto el eje principal*/
    background-color: yellow;
    height: 300px;
    justify-content: ; /*Nos permite ajustar elementos dependiendo del eje principal flex direction*/
    align-items: center; /*Dimenssiona a la posicion del eje principal que es flex direction*/
    /* flex-wrap: wrap; con esta propiedad no redimensionamos y los elemenots quedan con el tamaño original*/ 
}

.contenido-1 {
    background-color: white;
    /* height: 200px; */
    width: 100px;
    border: 1px solid blue;
}

.contenido-2 {
    background-color: white;
    /* height: 200px; */
    width: 100px;
    border: 1px solid blue;
}

.contenido-3 {
    background-color: pink;
    /* height: 200px; */
    width: 100px;
    border: 1px solid blue;
}