div {
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
    background-color: white;
}

/* Posicionamiento relativo - se posiciona en relación al posicionamiento original o a la caja padre, se usa para conectar cajas absolutas*/
.relative {
    position: relative;
    right: 80px; 
    margin-left: 10px;
}

/* Posicionamiento fijo - se posiciona en relación a la pantalla, se relaciona con una referencia como ancla */
.fixed {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: greenyellow;
    z-index: 10;
}

/* Posicionamiento absoluto, se ajusta en funcion del padre relativo. */
.absolute {
    position: absolute;
    top: 30px;
    right: 0px;
}

.relative.contenedor {
    width: 300px;
    height: 1000px;
    background-color: blue;
    float: right;
}

/* Posicionamiento "pegajoso" - Al hacer scroll modifica su posicionamiento relative->fixed se tiene que ajustar un top para saber que posicion tiene relativamente*/
.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky; /* IE ni Safari soporta sticky */
    background-color: darksalmon;
    color: white;
    top: 0px;
    z-index: 2;
}