.p-contenedor {
    color: rgb(236, 122, 69); 
}

body section.main .contenedor p {
    color: green;
}

.contenedor #boton-contenedor {
    background-color: yellow;
}

/*Anidar consiste en seleccionar elementos que estan dentro de otros, asi podremos ganar especifidad o precisión*/

