body{
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
} /*Con esto podemos centrar elementos en el body o cualquier contenedor*/
.boton{
    width: 300px;
    height: 100px;
    border: none;
    border-radius: 10px;
    background-color: purple;
}
.boton:hover {
    background-color: #5c9f62;
    color: white;
}

.boton::before{
    content: 'Pasa por encima';
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: 700;
    
}

.boton:hover::before{
    content: '¡Hecho!';
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: 700;
}

